.contacts-wrapper {
  margin-top: 26px;
  display: flex;
  column-gap: 114px;
}

.mail,
.phone {
  display: block;
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
  letter-spacing: -0.01em;
}
.phone:before,
.mail:before {
  content: "";
  display: block;
  margin-left: -4px;
  margin-bottom: 23px;
  width: 21px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.phone:before {
  background-image: url(../resources/iphone.png);
}
.mail:before {
  background-image: url(../resources/letter.png);
}

.mail:hover {
  border-bottom: 3px solid #121212;
  opacity: 0.5;
}

@media (max-width: 1199px) {
  .contacts {
    padding-bottom: 80px;
  }
  .contacts-wrapper {
    margin-top: 20px;
    column-gap: 108px;
  }
  .phone,
  .mail {
    font-size: 45px;
    line-height: 60px;
  }
}

@media (max-width: 767px) {
  .contacts-wrapper {
    flex-direction: column;
    row-gap: 23px;
  }
  .phone,
  .mail {
    font-size: 35px;
    line-height: 45px;
  }
}
