.contacts-wrapper {
  margin-top: 30px;
  display: flex;
  column-gap: 104px;
}
.contacts h2 {
  padding-bottom: 32px;
  width: 90px;
  height: 25px;
}

.phone {
  color: #121212;
  display: block;
  text-decoration: none;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.01em;
}
.phone:before {
  content: "";
  display: block;
  margin-bottom: 12px;
  width: 24px;
  height: 24px;
  background-image: url(../resources/iphone.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mail {
  width: 410px;
  display: block;
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}
.mail:hover {
  border-bottom: 2px solid #121212;
  padding-bottom: 9px;
  opacity: 0.5;
}
.mail::before {
  content: "";
  display: block;
  margin-bottom: 12px;
  margin-left: 3px;
  width: 24px;
  height: 24px;
  background-image: url(../resources/letter.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1199px) {
  .contacts {
    padding-bottom: 80px;
  }
  .contacts-wrapper {
    margin-top: 20px;
    column-gap: 114px;
  }
  .phone {
    width: 100%;
    font-size: 45px;
    line-height: 60px;
  }
  .mail {
    width: 100%;
    font-size: 45px;
    line-height: 60px;
  }
}

@media (max-width: 865px) {
  .contacts-wrapper {
    flex-direction: column;
    row-gap: 23px;
  }
  .phone {
    width: 100%;
    font-size: 35px;
    line-height: 45px;
  }
  .mail {
    width: 100%;
    font-size: 35px;
    line-height: 45px;
  }
}
