.container {
  margin: 0 auto;
  width: 1150px;
}
.header-inner {
  display: flex;
  margin-top: 33px;
  margin-bottom: 70px;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  display: block;
  height: 25px;
}
.logo {
  display: block;
  padding-right: 80px;
}
nav {
  display: flex;
  gap: 60px;
}
.nav__link {
  display: block;
  font-size: 18px;
  line-height: 25px;
  color: #121212;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__link:hover {
  border-bottom: 1px solid #121212;
  padding-bottom: 2px;
  opacity: 0.5;
}
