.nav-container {
  margin: 0 auto;
  width: 1150px;
}
.header-inner {
  display: flex;
  margin-top: 33px;
  margin-bottom: 70px;
  justify-content: space-between;
}

.logo {
  display: block;
  width: 127px;
  height: 22px;
}
.nav-list {
  display: flex;
  gap: 60px;
}
.nav__link {
  height: 25px;
  display: block;
  font-size: 18px;
  line-height: 25px;
  color: #121212;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__link:hover {
  border-bottom: 1px solid #121212;
  padding-bottom: 2px;
  opacity: 0.5;
}
.burger-btn {
  display: none;
}
.burger {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.burger_open {
  opacity: 1;
  visibility: visible;
}
.burger__content {
  width: 274px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #ffffff;
  transition: transform 0.3s linear;
  transform: translateX(100%);
}
.burger_open .burger__content {
  transform: translateX(0);
}
.burger-logo {
  width: 156px;
  height: 26px;
}
.burger-nav {
  padding: 80px 0 90px 30px;
}
.burger-nav-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.burger-nav__link {
  height: 34px;
  display: block;
  width: fit-content;
  font-size: 25px;
  line-height: 34px;
  color: #121212;
  text-decoration: none;
  text-transform: uppercase;
}
.burger-nav__link:hover {
  border-bottom: 1px solid #121212;
  padding-bottom: 2px;
  opacity: 0.5;
}
.burger__contacts {
  margin-left: 30px;
}
.burger__contacts-title {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  opacity: 0.5;
}
.burger__contacts-phone {
  font-size: 20px;
  line-height: 45.62px;
  color: #121212;
  text-transform: uppercase;
  text-decoration: none;
}
.burger__contacts-link {
  font-size: 20px;
  line-height: 20px;
  color: #121212;
  text-decoration: none;
}

@media (max-width: 1199px) {
  .nav-container {
    width: 100%;
    padding: 0 15px 0 17px;
  }
  .nav {
    display: none;
  }
  .header-inner {
    margin-bottom: 75px;
  }
  .burger-btn {
    display: block;
    position: relative;
    width: 50px;
    background-color: none;
    border: none;
  }
  .burger-btn::after,
  .burger-btn::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 2.2px;
    width: 100%;
    background-color: black;
  }
  .burger-btn::after {
    top: 6px;
    width: 31px;
  }
  .burger-btn_open::after,
  .burger-btn_open::before {
    display: none;
  }

  .burger-btn_open {
    z-index: 150;
    right: 27px;
    width: 21px;
    height: 21px;
    background-image: url(../resources/Vector-cross_mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
  }
}

@media (max-width: 767px) {
  .nav-container {
    padding: 0 12px 0 13px;
  }
  .header-inner {
    margin-bottom: 50px;
  }
  .logo {
    width: 96px;
    height: 16px;
  }
  .burger-btn {
    width: 38px;
  }
  .burger-btn::after,
  .burger-btn::before {
    height: 1.7px;
  }
  .burger-btn::after {
    top: 5px;
    width: 24px;
  }
}
