@import "../styles/header.css";
@import "../styles/projects.css";
@import "../styles/services.css";
@import "../styles/contacts.css";
@import "../styles/footer.css";
@import "../styles/intro.css";
@import "../styles/gallery.css";
@import "../styles/about-us.css";
@import "../styles/buttons.css";
@import "../styles/reviews.css";
@import "../styles/popup.css";

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  background: #ffffff;
}
.body_fixed {
  overflow: hidden;
}

button,
input {
  font-family: "Manrope", sans-serif;
  cursor: pointer;
}

h1,
h2,
h3,
div,
p,
nav,
a,
button {
  letter-spacing: -0.03em;
}

.content-wrapper {
  margin: 0 auto;
  width: 1150px;
  padding-bottom: 149px;
}

h1 {
  font-size: 60px;
  line-height: 60px;
}

h2 {
  font-size: 18px;
  line-height: 24.59px;
}

@media (max-width: 1199px) {
  .content-wrapper {
    width: 100%;
    padding: 0 15px 120px 17px;
  }
  h1 {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 802px) {
  h1 {
    font-size: 45px;
    line-height: 45px;
  }
}
@media (max-width: 767px) {
  .content-wrapper {
    padding: 0 12px 80px 13px;
  }
  h1 {
    font-size: 30px;
    line-height: 31.62px;
    text-align: left;
  }
  h2 {
    font-size: 14px;
    line-height: 19px;
  }
}
